<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/style_content.css">
    <link rel="stylesheet" href="templates/css/style_index.css">
    <link rel="stylesheet" href="templates/css/style_scrollbar.css">
    <link rel="icon" href="/templates/image/logo/logoBO.jpg">
    <link rel="stylesheet" href="templates/css/style_theme.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <title>Forum</title>
</head>
<body>
<div class="header" oneclick="window.location.href='index.html'">
    <div class="logo" onclick="window.location.href='/'">
        <img href="/" src="/templates/image/logo/logoO.png" alt="">
        <h2><a href="/">Forum</a></h2>
    </div>
    <form method="get" action="/search">
        <div class="header_middle">
            <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
        </div>
    </form>
    <div class="header_right">
        {{ if eq .Connected false }}
            <div class="login">
                <a href="/login">Connection</a>
            </div>
        {{ else }}
            <div class="logout">
                <a href="/logout"><i class='bx bx-power-off'></i></a>
            </div>
            <div class="profil">
                <a href="/profile"><img src="{{ .User.Avatar }}"></a>
                <p>{{ .User.Username }}</p>
            </div>
        {{ end }}
    </div>
</div>
{{ $post := .Post }}
{{ $user := .User }}
<div class="content">
    <div class="content_top">
        <h2>{{ .Post.Titre}}</h2>
    </div>
    <div class="content_bot">
        <div class="cb_left">
            <div class="post">
                <div class="content-post">
                    <i class='bx bx-detail' ></i>
                    <p>{{ .Post.Contenu }}</p>
                </div>
                <div class="autor">
                    <i class='bx bx-user'></i>
                    <p>{{ .Post.Auteur.Username }}</p>
                </div>
                <div class="date">
                    <i class='bx bx-time-five'></i>
                    <p> {{ .Post.Date }}</p>
                </div>
                <div class="like">
                    <i class='bx bxs-like'></i>
                    <p>{{ .Post.Likes }}</p>
                </div>
                <div class="dislike">
                    <i class='bx bxs-dislike'></i>
                    <p>{{ .Post.Dislikes }}</p>
                </div>
                <div class="category">
                    <i class='bx bx-list-ol' ></i>
                    <p>{{ .Post.Category.Name }}</p>
                </div>
                {{ if eq .Post.Auteur.Id .User.Id }}
                    <div class="modify-comment">
                        <form action="/update" method="post">
                            <input type="hidden" name="id-post" value="{{ $.Post.Id }}">
                            <input type="hidden" name="title-post" value="{{ .Post.Titre }}">
                            <input type="hidden" name="Type" value="post">
                            <input type="submit" value="Modifier le Post">
                        </form>
                    </div>
                    <div class="delete-comment">
                        <form action="/delete" method="post">
                            <input type="hidden" name="id-post" value="{{ $.Post.Id }}">
                            <input type="hidden" name="Type" value="post">
                            <i class='bx bx-edit-alt'></i>
                        </form>
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="cb_right">
            <div class="com">
                {{ range .Comments }}
                    <div class="comment">
                        <div class="content">
                            <h2> {{ .Contenu }}</h2>
                        </div>
                        <div class="postAuthor">
                            <div class="autor">
                                <p><i class='bx bx-user'></i> {{ .Auteur.Username }}</p>
                            </div>
                            <div class="date">
                                <p><i class='bx bx-time-five'></i> {{ .Date }}</p>
                            </div>
                        </div>
                        {{ if eq .Auteur.Id $.User.Id }}
                        <div class="comment-interaction">
                            <div class="modify-comment">
                                <form action="/update" method="post">
                                    <input type="hidden" name="comment-update" value="{{ .Id }}">
                                    <input type="hidden" name="id-post" value="{{ $.Post.Id }}">
                                    <input type="hidden" name="Type" value="comment">
                                    <button type="submit" value="Modify"><i class='bx bx-edit-alt' ></i></button>
                                </form>
                            </div>
                            <div class="delete-comment">
                                <form action="/delete" method="post">
                                    <input type="hidden" name="delete-comment" value="{{ .Id }}">
                                    <input type="hidden" name="id-post" value="{{ $.Post.Id }}">
                                    <input type="hidden" name="Type" value="comment">
                                    <button type="submit" value="Delete"><i class='bx bx-trash' ></i></button>
                                </form>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ if eq .Connected true }}
<div class="commentary">
    <div class="display">
        <div class="writeComment">
            <h2>Écrire un commentaire :</h2>
            <form action="/addcomment" method="post">
                <input type="text" autocomplete="false" name="Comment" placeholder="Comment">
                <input type="hidden" name="post" value="{{ .Post.Id }}">
                <input type="submit" value="Envoyer">
            </form>
        </div>
        <div class="interact">
            <div class="like">
                <form action="/like" method="post">
                    <button type="submit" value="Like"><i class='bx bxs-like'></i></button>
                    <input type="hidden" name="like" value="{{ .Post.Id }}">
                </form>
                <p>{{ .Post.Likes }}</p>
            </div>
            <div class="dislike">
                <form action="/dislike" method="post">
                    <button type="submit" value="Dislike"><i class='bx bxs-dislike'></i></button>
                    <input type="hidden" name="dislike" value="{{ .Post.Id }}">
                </form>
                <p>{{ .Post.Dislikes }}</p>
            </div>
        </div>
    </div>
    {{ else }}
    <div class="errorPost">
        <p><i class='bx bx-error-circle'></i>You must be logged in to post a comment !</p>
        {{ end }}
    </div>
</div>
</body>
</html>