<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/style_index.css">
    <link rel="stylesheet" href="templates/css/style_scrollbar.css">
    <title>Forum</title>
</head>
<body>
<div class="header" oneclick="window.location.href='index.html'">
    <div class="header_middle">
        <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
    </div>
    <div class="header" oneclick="window.location.href='index.html'">
        <h2><a href="/">Forum</a></h2>
        <div class="header_middle">
            <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
        </div>
        <div class="header_right">
            {{ if eq .Connected false }}
                <a href="/login">Connexion</a>
            {{ else }}
                <a href="/profile"><img src="/templates/image/profil.jpg"></a>
            {{ end }}
        </div>
    </div>
    <div class="content">
        <div class="content_top">
            {{ if eq .Connected false }}
                <p>Vous n'êtes pas connecté</p>
            {{ else }}
                <p>Bonjour {{ .User.Username }}</p>
                <a href="/write">Voulez-vous écrire un nouveau poste ?</a>
                <a href="/logout">Déconnexion</a>
            {{ end }}
            <div class="title">
                {{ range .Posts}}
                    <h2>{{ .Titre }}</h2>
                    <p>{{ .Contenu }}</p>
                    <p> {{ .Auteur.Username }}</p>
                {{ end }}
            </div>
        </div>
        <div class="content_bot">
        </div>
    </div>
</div>
</body>
</html>