<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/style_index.css">
    <link rel="stylesheet" href="templates/css/style_scrollbar.css">
    <link rel="icon" href="/templates/image/logo/logoBO.jpg">
    <link rel="stylesheet" href="templates/css/style_theme.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <title>Forum</title>
</head>
<body>
<div class="header" oneclick="window.location.href='index.html'">
    <div class="logo" onclick="window.location.href='/'">
        <img href="/" src="/templates/image/logo/logoO.png" alt="">
        <h2><a href="/">Forum</a></h2>
    </div>
    <form method="get" action="/search">
        <div class="header_middle">
            <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
        </div>
    </form>
    <div class="header_right">
        {{ if eq .Connected false }}
            <div class="login">
                <a href="/login">Connection</a>
            </div>
        {{ else }}
            <div class="logout">
                <a href="/logout"><i class='bx bx-power-off'></i></a>
            </div>
            <div class="profil">
                <a href="/profile"><img src="{{ .User.Avatar }}"></a>
                <p>{{ .User.Username }}</p>
            </div>
        {{ end }}
    </div>
</div>


<div class="content">
    <div class="content_top">
        {{ if eq .Connected false }}
            <div class="not_connected">
                <p>You are not connected</p>
            </div>
        {{ else }}
            <div class="hi">
                <p>Hello {{ .User.Username }}</p>
            </div>
            <div class="new_discution">
                <a href="/write">
                    <i class='bx bxs-conversation'></i>
                    New post
                </a>
            </div>
            <div>
                <a href="/category">New Category</a>
            </div>
        {{ end }}
    </div>
    <div class="content_bot">
        <div class="cb_left">
            <div class="cat"><a href="/">Category 1</a></div>
            <div class="cat"><a href="/">Category 2</a></div>
            <div class="cat"><a href="/">Category 3</a></div>
        </div>
        <div class="cb_right">
            <div class="contentHead">
                <div class="hAll">
                    <div class="hPost">
                        <p class="head"><i class='bx bx-comment-detail'></i> Post</p>
                    </div>
                    <div class="hUser">
                        <p class="head"><i class='bx bx-user'></i> User</p>
                    </div>
                    <div class="hDate">
                        <p class="head"><i class='bx bx-time-five'></i> Date</p>
                    </div>
                </div>
                {{ range .Posts}}
                    <div class="post">
                        <div class="cPost">
                            <div class="title">
                                <p><a href="/content?id={{ .Id }}">{{ .Titre }}</a></p>
                            </div>
                        </div>
                        <div class="cAutor">
                            <div class="autor">
                                <p>{{ .Auteur.Username }}</p>
                            </div>
                        </div>
                        <div class="cDate">
                            <div class="date">
                                <p> {{ .Date }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
</body>
</html>