<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style_login.css">
    <link rel="stylesheet" href="templates/css/style_scrollbar.css">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/style_index.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>

<body>
    <div class="header" oneclick="window.location.href='index.html'">
        <h2><a href="/">Forum</a></h2>
        <div class="header_middle">
            <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
        </div>
        <div class="header_right">
            <a href="/login">Connexion</a>
        </div>
    </div>
  <div class="container">
    <div class="leftbox">
      <form method="post">  
        <h1>Login</h1>
          <div class="inputs">
            <input name="username" type="username" class="textInputBox" placeholder="Username" >
            <input name="password" type="password" class="textInputBox" placeholder="Password">
          </div>
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="rightbox">
      <form action="/signup" method="post">
          <h2> You don’t have an account ? </h2>
          <p>It is fast, free, and will allow you to reserve your nickname on the forums, so that no one else than you can use it...</p>
          <div class="form-group">
            <input type="submit" name="submit" value="Create an account" class="btn">
          </div>
          <!--<button type="submit" name="submit">Create an account</button>-->
    </div>
  </div>


</body>
</html>