<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
</head>
<body>
<div>
    <h1>Forum</h1>
    <form action="/modify_content" method="post">
        <label>
            <input type="text" name="Pseudo" placeholder="Pseudo">
        </label>
        <label>
            <input type="text" name="Prenom" placeholder="Prenom">
        </label>
        <label>
            <input type="text" name="Nom" placeholder="Nom">
        </label>
        <label>
            <input type="text" name="Email" placeholder="Email">
        </label>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>
</body>
</html>