<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style_login.css">
    <link rel="stylesheet" href="templates/css/style_scrollbar.css">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/style_index.css">
    <link rel="stylesheet" href="templates/css/style_theme.css">
    <link rel="stylesheet" href="templates/css/style_modify_content.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <title>Forum</title>
</head>
<body>
    <div class="header" oneclick="window.location.href='index.html'">
        <div class="logo" onclick="window.location.href='/'">
            <img href="/" src="/templates/image/logo/logoO.png" alt=""><h2><a href="/">Forum</a></h2>
          </div>
        <div class="header_middle">
            <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
        </div>
        <div class="header_right">
            {{ if eq .Connected false }}
                <div class="login">
                    <a href="/login">Connection</a>
                </div>
            {{ else }}
                <div class="logout">
                    <a href="/logout"><i class='bx bx-power-off'></i></a>
                </div>
                <div class="profil">
                    <a href="/profile"><img src="{{ .User.Avatar }}"></a>
                    <p>{{ .User.Username }}</p>
                </div>
            {{ end }}
        </div>
    </div>
<div>
    <form action="/modify_content" method="post" enctype="multipart/form-data">
        <h1>Modify-Informations</h1>
        <div class="inputs">
            <input type="text" name="Pseudo" placeholder="Pseudo">
            <input type="text" name="Prenom" placeholder="Prenom">
            <input type="text" name="Nom" placeholder="Nom">
            <input type="text" name="Email" placeholder="Email">
            <input type="text" name="Password" placeholder="Password">
            <input type="text" name="ConfirmPassword" placeholder="ConfirmPassword">
        </div> 
        <div class="avatar">
            <div class="image">
                <img src="{{ .User.Avatar }}" alt="">
            </div>
            <input type="file" name="avatar" placeholder="avatar">
        </div>
        <button type="submit" name="submit" value="Submit" class="button">Submit</button>
    </form>
</div>
</body>
</html>