<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/style_index.css">
    <link rel="stylesheet" href="templates/css/style_profile.css">
    <link rel="stylesheet" href="templates/css/style_scrollbar.css">
    <title>Forum</title>
</head>
<body>
<div class="header" oneclick="window.location.href='index.html'">
    <h2><a href="/">Forum</a></h2>
    <div class="header_middle">
        <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
    </div>
    <div class="header_right">
        {{ if eq .Connected false }}
            <div class="login">
                <a href="/login"><strong>Connection</strong></a>
            </div>
        {{ else }}
            <div class="logout">
                <a href="/logout"><strong>Logout</strong></a>
            </div>
            <div class="profil">
                <a href="/profile"><img src="/templates/image/profil.jpg"></a>
            </div>
        {{ end }}
    </div>
</div>
<div class="user">
    <div class="information">
        <div class="image">
            <img src="/templates/image/profil.jpg">
        </div>
        <div class="name">
            <h2>{{ .User.Username }}</h2>
        </div>
        <div class="prenom">
            <h2>{{ .User.FirstName }}</h2>
        </div>
        <div class="nom">
            <h2>{{ .User.LastName }}</h2>
        </div>
        <div class="email">
            <h2>{{ .User.Email }}</h2>
        </div>
        <div class="date">
            <h2>{{ .User.CreationDate }}</h2>
        </div>
    </div>
    <form action="/modify" method="post" class="mdp">
        <div class="mdp1">
            <h2>Change your password</h2>
        </div>
        <div class="mdp2">
            <input type="password" name="password_old" placeholder="Password" class="password" autocomplete="off">
        </div>
        <div class="mdp3">
            <input type="password" name="password_new" placeholder="Password" class="password" autocomplete="off">
        </div>
        <div class="mdp4">
            <input type="password" name="password_confirm" placeholder="Password" class="password" autocomplete="off">
        </div>
        <div class="mdp5">
            <button type="submit" class="button">Change</button>
        </div>
    </form>
</div>
</body>
</html>