<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/style_index.css">
    <link rel="stylesheet" href="templates/css/style_profile.css">
    <link rel="stylesheet" href="templates/css/style_scrollbar.css">
    <link rel="stylesheet" href="templates/css/style_theme.css">
    <title>Forum</title>
</head>
<body>
<div class="header" oneclick="window.location.href='index.html'">
    <h2><a href="/">Forum</a></h2>
    <div class="header_middle">
        <input type="text" name="search" placeholder="Search" class="search" autocomplete="off">
    </div>
    <div class="header_right">
        {{ if eq .Connected false }}
            <div class="login">
                <a href="/login"><strong>Connection</strong></a>
            </div>
        {{ else }}
            <div class="logout">
                <a href="/logout"><strong>Logout</strong></a>
            </div>
            <div class="profil">
                <a href="/profile"><img src="{{ .User.Avatar }}"></a>
            </div>
        {{ end }}
    </div>
</div>
<div class="user">
    <div class="information">
        <div class="leftbox">
            <div class="image">
                <img src="{{ .User.Avatar }}" alt="">
            </div>
            <div class="name">
                <h2>{{ .User.Username }}</h2>
            </div>
        </div>
        <div class="rightbox">
            <div class="prenom">
                <h1>First Name :</h1>
                <h2>{{ .User.FirstName }}</h2>
            </div>
            <div class="nom">
                <h1>Last Name :</h1>
                <h2>{{ .User.LastName }}</h2>
            </div>
            <div class="email">
                <h1>Email :</h1>
                <h2>{{ .User.Email }}</h2>
            </div>
            <div class="date">
                <h1>Creation Date :</h1>
                <h2>{{ .User.CreationDate }}</h2>
            </div>
            <form action="/modify_content">
                <input type="submit" name="submit" value="Modify Informations" class="btn">
            </form>
        </div>
    </div>
    <form action="/modify" method="post" class="mdp">
            <h2>Change your password ?</h2>
            <div class="inputs">
                <input type="password" name="password_old" placeholder="Old password" class="password" autocomplete="off">
                <input type="password" name="password_new" placeholder="New password" class="password" autocomplete="off">
                <input type="password" name="password_confirm" placeholder="Confirm password" class="password" autocomplete="off">
            </div>
            <button type="submit" class="button">Change</button>
    </form>
</div>
</body>
</html>