body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
}
body .container {
  background-color: rgba(54, 57, 61, 0.5529411765);
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65vh;
  justify-content: center;
  flex-wrap: nowrap;
  width: 92vw;
}
body .container .leftbox {
  display: flex;
  width: 70vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .leftbox form {
  opacity: 0.98;
  display: flex;
  flex-direction: column;
  width: 45vh;
  height: 45vh;
}
body .container .leftbox h1 {
  padding: 15px;
}
body .container .leftbox .inputs {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-top: 14px;
}
body .container .leftbox .inputs input[type=username],
body .container .leftbox .inputs input[type=password] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(191, 190, 189, 0.1137254902);
  outline: none;
  margin-bottom: 1.4vw;
  opacity: 0.5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
body .container .leftbox .inputs input[type=username]::placeholder,
body .container .leftbox .inputs input[type=password]::placeholder {
  color: var(--silv);
  padding: 10px;
}
body .container .leftbox .inputs input[type=username]:hover,
body .container .leftbox .inputs input[type=password]:hover {
  box-shadow: 0 0 0.2px 0 #000000;
  background-color: rgba(236, 236, 236, 0.4196078431);
}
body .container .leftbox .inputs input[type=username]:hover::placeholder,
body .container .leftbox .inputs input[type=password]:hover::placeholder {
  color: var(--gre);
}
body .container .leftbox .inputs input[type=username]:focus,
body .container .leftbox .inputs input[type=password]:focus {
  box-shadow: 0 0 0.2px 0 #000000;
  background-color: var(--silv);
  color: var(--ony);
  outline: none;
}
body .container .leftbox .inputs input[type=username]:focus::placeholder,
body .container .leftbox .inputs input[type=password]:focus::placeholder {
  color: var(--gre);
  overflow: hidden;
}
body .container .leftbox button {
  height: 6vh;
  width: 18vh;
  border-radius: 5px;
  margin: 15px auto;
  border: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7647058824);
  background-color: rgba(37, 175, 2, 0.699);
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
}
body .container .leftbox button:hover {
  background-color: rgba(37, 175, 2, 0.855);
}
body .container .rightbox {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  width: 60vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .rightbox .text {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}
body .container .rightbox form {
  opacity: 0.98;
  display: flex;
  flex-direction: column;
  width: 45vh;
  height: 30vh;
}
body .container .rightbox input.btn {
  display: flex;
  float: left;
  height: 5vh;
  width: 20vh;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7647058824);
  background-color: rgba(254, 85, 38, 0.8117647059);
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  justify-content: center;
}
body .container .rightbox input.btn:hover {
  background-color: #fe5526;
}

/*# sourceMappingURL=style_login.css.map */
