body {
  overflow-y: scroll;
}
body .errorPost {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
body .errorPost p {
  display: flex;
  margin-top: 3vh;
  font-weight: 380;
  font-style: oblique;
  font-size: 17px;
}
body .errorPost p i {
  font-size: 25px;
  margin-right: 10px;
  color: #fe5526;
}
body .content {
  padding: 0;
  margin-top: 10vh;
  display: inline-grid;
}
body .content .content_top {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 80vw;
  margin: 15px auto 10px auto;
}
body .content .content_top h2 {
  font-weight: 500;
  font-size: 30px;
  font-variant: small-caps;
}
body .content .content_bot .cb_right {
  display: flex;
  overflow-y: auto;
  justify-content: space-between;
}
body .content .content_bot .cb_right .com .comment {
  background-color: rgba(236, 236, 236, 0.0549019608);
  height: auto;
  border-radius: 18px;
  margin: 12px;
  padding: 3px;
  display: flow-root;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0705882353);
}
body .content .content_bot .cb_right .com .comment p {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
}
body .content .content_bot .cb_right .com .comment .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 26px 12px 10px 12px;
  line-break: anywhere;
}
body .content .content_bot .cb_right .com .comment .content h2 {
  font-weight: 390;
  font-size: 18px;
  margin-bottom: 15px;
  font-style: normal;
}
body .content .content_bot .cb_right .com .comment .postAuthor {
  display: block;
  margin-right: 22px;
  float: right;
}
body .content .content_bot .cb_right .com .comment .postAuthor p i {
  font-size: 15px;
  margin-right: 3px;
}
body .content .content_bot .cb_right .com .comment .postAuthor .autor {
  margin-bottom: 2px;
}
body .content .content_bot .cb_right .com .comment .comment-interaction {
  display: -webkit-inline-box;
  margin: 1vh 1vh 3vh 2vh;
}
body .content .content_bot .cb_right .com .comment .comment-interaction .modify-comment button {
  background-color: transparent;
  border: none;
  margin-right: 2vh;
}
body .content .content_bot .cb_right .com .comment .comment-interaction .modify-comment button i {
  font-size: 18px;
  cursor: pointer;
  color: rgba(254, 85, 38, 0.9019607843);
}
body .content .content_bot .cb_right .com .comment .comment-interaction .modify-comment button i:hover {
  color: #fe5526;
}
body .content .content_bot .cb_right .com .comment .comment-interaction .delete-comment button {
  background-color: transparent;
  border: none;
  margin-right: 2vh;
}
body .content .content_bot .cb_right .com .comment .comment-interaction .delete-comment button i {
  font-size: 18px;
  cursor: pointer;
  color: rgba(254, 85, 38, 0.9019607843);
}
body .content .content_bot .cb_right .com .comment .comment-interaction .delete-comment button i:hover {
  color: #fe5526;
}
body .content .content_bot .cb_left .post {
  display: grid;
  grid-template-rows: 6vh 5vh 8vh 6vh 6vh 6vh 6vh;
  align-items: center;
  justify-items: start;
}
body .content .content_bot .cb_left .post .content-post {
  display: grid;
  grid-template-columns: 5vh 2fr;
  padding: 7px 2vh 7px 2vh;
}
body .content .content_bot .cb_left .post .content-post i {
  width: fit-content;
}
body .content .content_bot .cb_left .post .autor {
  display: grid;
  grid-template-columns: 5vh 2fr;
  padding: 7px 2vh 7px 2vh;
}
body .content .content_bot .cb_left .post .autor i {
  width: fit-content;
}
body .content .content_bot .cb_left .post .date {
  display: grid;
  grid-template-columns: 5vh 2fr;
  padding: 7px 2vh 7px 2vh;
}
body .content .content_bot .cb_left .post .date i {
  width: fit-content;
}
body .content .content_bot .cb_left .post .like {
  display: grid;
  grid-template-columns: 5vh 2fr;
  padding: 7px 2vh 7px 2vh;
}
body .content .content_bot .cb_left .post .like i {
  width: fit-content;
}
body .content .content_bot .cb_left .post .dislike {
  display: grid;
  grid-template-columns: 5vh 2fr;
  padding: 7px 2vh 7px 2vh;
}
body .content .content_bot .cb_left .post .dislike i {
  width: fit-content;
}
body .content .content_bot .cb_left .post .category {
  display: grid;
  grid-template-columns: 5vh 2fr;
  padding: 7px 2vh 7px 2vh;
}
body .content .content_bot .cb_left .post .category i {
  width: fit-content;
}
body .content .content_bot .cb_left .post .modify-delete {
  cursor: pointer;
  display: grid;
  grid-template-columns: 6vh 6vh;
  padding: 2vh 0 0 9vh;
}
body .content .content_bot .cb_left .post .modify-delete form button {
  background-color: transparent;
  border: none;
}
body .content .content_bot .cb_left .post .modify-delete form button i {
  color: rgba(254, 85, 38, 0.9019607843);
  font-size: 18px;
}
body .content .content_bot .cb_left .post .modify-delete form button i:hover {
  color: #fe5526;
}
body .commentary {
  display: grid;
  justify-items: stretch;
}
body .commentary .display {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .commentary .display .writeComment {
  display: flex;
  flex-direction: column;
}
body .commentary .display .writeComment h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}
body .commentary .display .writeComment form input[type=text] {
  border: 1px solid rgba(73, 78, 81, 0.616);
  border-radius: 5px;
  background-color: rgba(191, 190, 189, 0.1137254902);
  color: var(--silv);
  margin-bottom: 5px;
  width: 45vw;
  height: 5vh;
  box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.144);
  transition: 0.2s;
  outline: none;
}
body .commentary .display .writeComment form input[type=text]:hover {
  box-shadow: 0 0 0.2px 0 #000000;
  background-color: rgba(236, 236, 236, 0.1450980392);
}
body .commentary .display .writeComment form input[type=text]:focus {
  box-shadow: 0 0 0.2px 0 #000000;
  background-color: var(--silv);
  color: var(--ony);
  padding: 1px;
  outline: none;
}
body .commentary .display .writeComment form input[type=submit] {
  background-color: rgba(254, 85, 38, 0.9019607843);
  color: #ececec;
  border-radius: 20px;
  border: none;
  height: 5vh;
  width: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2156862745);
  font-size: 15px;
  transition: 0.2s;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
}
body .commentary .display .writeComment form input[type=submit]:hover {
  color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.334);
  transition: 0.1s;
  font-size: 14.8px;
  background-color: #fe5526;
}
body .commentary .display .interact {
  display: -webkit-box;
}
body .commentary .display .interact .like {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: auto;
}
body .commentary .display .interact .like button {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
}
body .commentary .display .interact .like button i {
  display: initial;
  cursor: pointer;
  color: rgba(236, 236, 236, 0.6941176471);
  font-size: 24px;
}
body .commentary .display .interact .like button i:hover {
  transition: 0.3s;
  color: #fe5526;
}
body .commentary .display .interact .like button:focus {
  color: #fe5526;
}
body .commentary .display .interact .like button:focus i {
  color: #fe5526;
}
body .commentary .display .interact .like input {
  display: none;
}
body .commentary .display .interact .like p {
  font-size: 18px;
  font-weight: 350;
  margin-left: 6px;
}
body .commentary .display .interact .dislike {
  margin-left: 5vh;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
body .commentary .display .interact .dislike button {
  background-color: transparent;
  border: none;
}
body .commentary .display .interact .dislike button i {
  display: initial;
  cursor: pointer;
  color: rgba(236, 236, 236, 0.6941176471);
  font-size: 24px;
}
body .commentary .display .interact .dislike button i:hover {
  transition: 0.3s;
  color: #fe5526;
}
body .commentary .display .interact .dislike input {
  display: none;
}
body .commentary .display .interact .dislike p {
  font-size: 18px;
  font-weight: 350;
  margin-left: 6px;
}

/*# sourceMappingURL=style_content.css.map */
