body {
  background-color: var(--gre);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  overflow-y: auto;
}

.header {
  background-color: rgba(54, 57, 61, 0.7921568627);
  color: var(--whi);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 9vh;
  width: 100%;
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.33);
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  padding: 0 auto;
}
.header h2 {
  margin: 40px;
  font-size: 30px;
}
.header h2 :hover {
  color: #ffffff;
  transition: 0.2s;
}
.header .header_right {
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.header .header_right .logout a {
  background-color: rgba(254, 85, 38, 0.9019607843);
  color: #ececec;
  border-radius: 20px;
  height: 5.5vh;
  width: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2156862745);
  font-size: 14px;
  padding: 0 auto;
  transition: 0.2s;
}
.header .header_right .logout a:hover {
  color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.334);
  transition: 0.1s;
  font-size: 14.8px;
  background-color: #fe5526;
}
.header .header_right .login a {
  background-color: rgba(254, 85, 38, 0.9019607843);
  color: #ececec;
  border-radius: 20px;
  height: 5.5vh;
  width: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2156862745);
  font-size: 14px;
}
.header .header_right .login a:hover {
  color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.334);
  transition: 0.1s;
  font-size: 14.8px;
  background-color: #fe5526;
}
.header .header_right .profil {
  display: flex;
}
.header .header_right .profil a img {
  padding: 0 auto;
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2156862745);
}
.header .header_right .profil a img:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.435);
  transition: 0.2s;
}
.header .header_middle {
  position: inherit;
}
.header .header_middle .search {
  border: 1px solid rgba(73, 78, 81, 0.616);
  border-radius: 5px;
  background-color: rgba(191, 190, 189, 0.1137254902);
  color: var(--silv);
  padding: 5px;
  width: 28vw;
  height: 30px;
  box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.144);
  transition: 0.2s;
}
.header .header_middle .search:hover {
  box-shadow: 0 0 0.2px 0 #000000;
  background-color: rgba(236, 236, 236, 0.4196078431);
}
.header .header_middle .search:hover::placeholder {
  color: var(--gre);
}
.header .header_middle .search:focus {
  box-shadow: 0 0 0.2px 0 #000000;
  background-color: var(--silv);
  color: var(--ony);
  padding: 7px;
  outline: none;
}
.header .header_middle .search:focus::placeholder {
  color: var(--gre);
  overflow: hidden;
}
.header .header_middle .search::placeholder {
  color: var(--silv);
  padding: 10px;
}

.navbar {
  background-color: rgba(236, 236, 236, 0.2078431373);
  color: var(--whi);
  display: flex;
  flex-direction: row;
  padding: 1vh;
  height: 3.5vh;
  width: 100vw;
  text-align: center;
  position: relative;
  margin-top: 9vh;
}
.navbar .catbar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.navbar .catbar .cat {
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 50px 0 50px;
  font-size: 15px;
  position: relative;
  color: var(--whi);
}
.navbar .catbar .cat a:hover {
  border-bottom: 2.3px solid rgba(254, 85, 38, 0.8588235294);
  line-height: 3.2vh;
}

.content .content_top {
  background-color: rgba(54, 57, 61, 0.5529411765);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.3215686275);
  color: var(--whi);
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px auto;
  height: 15vh;
  width: 90vw;
}
.content .content_top .not_connected {
  margin: 0 0 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content .content_top .not_connected h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.content .content_top .hi {
  margin: 0 0 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content .content_top .hi h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.content .content_top .hi h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.content .content_top .new_discution {
  height: 5vh;
  width: 21vh;
  border: 2px solid rgba(254, 85, 38, 0.8117647059);
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 60px auto auto;
  z-index: 1;
}
.content .content_top .new_discution:hover {
  border: 2px solid #fe5526;
  transition: 0.2s;
}
.content .content_top .new_discution a {
  color: rgba(254, 85, 38, 0.8117647059);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.content .content_top .new_discution a:hover {
  color: #fe5526;
  transition: 0.2s;
}
.content .content_top .new_discution i {
  color: rgba(254, 85, 38, 0.8117647059);
  margin-right: 10px;
  font-size: 18px;
  z-index: 0;
}
.content .content_top .new_discution i:hover {
  color: #fe5526;
  transition: 0.2s;
}
.content .content_bot .cb_right {
  background-color: rgba(54, 57, 61, 0.5529411765);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.3215686275);
  color: var(--whi);
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 25px 50px auto auto;
  height: 30vw;
  width: 65vw;
  position: relative;
}
.content .content_bot .cb_left {
  background-color: rgba(54, 57, 61, 0.5529411765);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.3215686275);
  color: var(--whi);
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto auto auto 60px;
  padding: auto;
  height: 30vw;
  width: 22vw;
  position: absolute;
}

/*# sourceMappingURL=style_index.css.map */
