body {
    background-color: #45494C;
    overflow: hidden;

    .error_container {
        display: grid;
        justify-items: center;
        justify-content: center;
        margin-top: 3vh;

        .error {
            height: 45vw;
            width: 50vw;
            background-image: url(../image/404/404.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .redirect {
            margin-bottom: 10vh;
        }

    }

}