
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;

    .container{
        background-color: red;
        margin-top: 20vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 65vh;
        justify-content: center;
        flex-wrap: nowrap;
        width: 92vw;
        border-bottom: 1px solid rgba(255,255,255,0.1);

        
        .leftbox{    
            display: flex;
            width: 70vh;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;

            form {
                opacity: 0.98;
                display: flex;
                flex-direction: column;
                width: 45vh;
                height: 45vh;
            }

            h1 {
                
                padding: 15px;
            }

            .inputs {
                display: flex;
                flex-direction: column;
                height: auto;
                width: auto;
                margin-top: 14px;

                input[type="username"],
                input[type="password"] {
                    padding: 15px;
                    border:none;
                    border-radius: 5px;
                    background-color: #bfbebd1d;
                    outline:none;
                    margin-bottom: 1.4vw;
                    opacity: 0.5;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

                    &::placeholder {
                        color: var(--silv);
                        padding: 10px;
                    }

                    &:hover {
                        box-shadow: 0 0 0.2px 0 #000000;
                        background-color: #ececec6b;
    
                        &::placeholder {
                            color: var(--gre);
                        }

                    }

                    &:focus {
                        box-shadow: 0 0 0.2px 0 #000000;
                        background-color: var(--silv);
                        color: var(--ony);
                        outline: none;
    
                        &::placeholder {
                            color: var(--gre);
                            overflow: hidden;
                        }

                    }

                }

            }
            
            button {
                height: 6vh;
                width: 18vh;
                border-radius: 5px;
                margin: 15px auto;
                border:none;
                font-size: 15px;
                color: #ffffffc3;
                background-color: rgba(37, 175, 2, 0.699);
                outline:none;
                cursor:pointer;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
                justify-content: center;

                &:hover {
                    background-color: rgba(37, 175, 2, 0.855);
                }
            }

        }

        .rightbox{
            border-left: 1px solid rgba(255,255,255,0.1);
            width: 60vh;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .text{
                display: flex;
                flex-direction: column;
                height: auto;
                width: auto;
            }

            form {
                opacity: 0.98;
                display: flex;
                flex-direction: column; 
                width: 45vh;
                height: 30vh;
            }



            input.btn{
                display: flex;
                float: left;
                height: 5vh;
                width: 20vh;
                border-radius: 5px;
                border:none;
                font-size: 15px;
                color: #ffffffc3;
                background-color: #fe5526cf;
                outline:none;
                cursor:pointer;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
                margin: 20px auto;
                justify-content: center;

                &:hover {
                    background-color: #fe5526;
                }
            }

        }

    }

}


