body {
    background-color: var(--gre);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    

}

.header {
    background-color: rgba(54, 57, 61, 0.7921568627);
    color: var(--whi);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8vh;
    width: 100vw;
    box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.33);
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    position: relative;
    
        h2 {
            margin: 40px;
        }

        .header_right {
            padding: 30px;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;         

            a {


                &:hover {
                    color: #FE5626;
                    box-shadow: 0 0 0.2px 0 #000000;
                    transition: 0.2s;
                    font-size: 16px;
                }

            }

        }
        .header_middle {
            position: fixed;
            
            .search {
                border: 1px solid rgba(73, 78, 81, 0.616);
                border-radius: 5px;
                background-color: #bfbebd1d;
                color: var(--silv);
                padding: 5px;
                width: 250px;
                height: 30px;
                box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.144);
                transition: 0.2s;

                &:hover {
                    box-shadow: 0 0 0.2px 0 #000000;
                    background-color: var(--silv);

                    &::placeholder {
                        color: var(--gre);
                    }
                }
                
                &:focus {
                    box-shadow: 0 0 0.2px 0 #000000;
                    background-color: var(--silv);
                    color: var(--ony);
                    padding: 7px;
                    outline: none;

                    &::placeholder {
                        color: var(--gre);
                        overflow: hidden;
                    }
                }

                &::placeholder {
                    color: var(--silv);
                    padding: 10px;
                }

            }

        }

    }

.content {
    background-color: var(--gre);
    color: var(--whi);
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 8vh;
    width: 100vw;
}