body{
    background-color: var(--gre);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    overflow-y: hidden;
}

.user {
    background-color: var(--ony);
    width: 82%;
    min-height: 40vw;
    height: auto;
    display: inline;
    margin: 14vh auto 10vh auto;
    display: inline-block;
    white-space: normal;
    
}