:root {
    --oran:#FE5626;
    --silv:#BFBEBD;
    --whi:#FFFFFF;
    --ony:#36393D;
    --gre:#494E51;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    list-style: none;   
    user-select: none;
  }